.envelope {
	width:  700px;
	height:  400px;
	background: #FF82CD;
	cursor: pointer;
	position:  absolute;
	top: 50%;
	left:  50%;
	transform: translate(-50%,-50%);
	z-index: 1111;
}

.top-side {
	border-bottom:  250px solid #B73884;
	top: -250px;
	transform-origin: bottom;
	z-index:  6;
	transform: rotateX(160deg);
}

.open-it-circle {
	padding: 0.2em;
	font-size:  1rem;
	color: #fff;
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
	border-radius: 50%;
	background: #BF5595;
	position: absolute;
	left: 50%;
	bottom:  -30px;
	transform: translateX(-50%) rotateX(160deg);
}

.bottom-side {
	border-bottom:  250px solid #9B0760;
	position:  absolute !important;
	bottom: 0;
	z-index:  4;
}

.top-side, .bottom-side {
	border-left:  350px solid transparent;
	border-right:  350px solid transparent;
	position:  relative;
}

.left-side {
	border-left:  325px solid #BF5595;
	position:  absolute;
	left:  0;
}

.right-side {
	border-right:  325px solid #B70E73;
	position:  absolute;
	right:  0;
}

.left-side, .right-side {
	border-top:  200px solid transparent;
	border-bottom:  200px solid transparent;
	top: 0;
	z-index: 4;
}

.envelope-content {
	background: #E0A8C9;
	width:  90%;
	height:  80%;
	position: absolute;
	top: 0;
	left:  50%;
	transform:  translateX(-50%);
	z-index:  3;
}

