*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	cursor: url('./assets/img/arrow.png'), auto;
}

button{
	cursor: url('./assets/img/hand.png'), auto;
}


.button-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-container {
	background: linear-gradient(180deg, #071168 28.13%, #040942 52.6%, #020203 100%);
	position:fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.bottom-border {
	margin-top: 5em;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: linear-gradient(180deg, #071168 28.13%, #040942 52.6%, #020203 100%);
}

.main {
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(50, 24, 111, 0.2) 100%), url('./assets/img/home_bg.jpg');
	background-size: cover;
	background-position: bottom;	
	background-repeat: no-repeat;
}

.blur-bg {
	opacity: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #152237db 0%, #15223778 100%), url('./assets/img/home_bg.jpg');
	background-size: cover;
	background-position: bottom;	
	position: fixed;
	top:0;
	left:0;
}

.canvas-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	width: 100%;
	height: 100%;
	background: transparent;
	position:  relative;
}

.greeting-title {
	opacity: 0;
	z-index: 5;
}

canvas {
	opacity: 0;
	border: 2px solid #fff;
	cursor: url('./assets/img/canvas_cursor.png'), auto;
}

.open-envelope-btn{
	padding:  0.5em 1em;
	font-family: 'Kalam', cursive;
	color: #AEE9FC;
	font-size:  1.5rem;
	background: linear-gradient(180deg, #071168 28.13%, #040942 52.6%, #020203 100%);
	position:  absolute;
	bottom:  80px;
	left: 50%;
	transform: translateX(-50%);
	z-index:  7;
	border: none;
	outline: none;
	border-radius: 10px;
}

.open-envelope-btn:hover {
	background:  #5657AF;
	transition:  0.5s ease-out;
}

.home, .about{
	width: 35em;
	height: 45em;
	background: rgba(3, 6, 49, 0.3);
	border: 1px solid #AEE9FC;
	z-index: 4;
	border-radius: 40px;

	color: #AEE9FC;
	padding: 3em 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.about {
	background: rgba(3, 6, 49, 0.5);
}


h1 {
	font-family: 'Kalam', cursive;
	font-weight: 700;
	font-size: 4rem;
	text-align: center;
}


.button-div {
	gap: 1em;
}

.button-div > button {
	padding: 0.5em 1em;
	font-size: 2rem;
	color: #AEE9FC;
	background: rgba(3, 6, 49, 0.7);
	border: none;
	outline: none;
	border-radius: 10px;
}

.button-div > button:hover {
	background: rgba(3, 50, 100, 1);
	border: #AEE9FC solid 2px;
	transform: scale(1.3) translateY(-15px);
	transition: 0.2s ease-in;
}

#about-desc {
	font-size: 1.7rem;
	padding: 0 2em;
	text-align: center;
	font-family: 'Kalam', cursive;
	font-weight: 300;
	color: #fff;
}


.lastpart {
	padding: 1em;
	width: 100%;
	height:  100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(50, 24, 111, 0.2) 100%), url('./assets/img/gold_bg.jpg') no-repeat;
	background-size: cover;
	z-index:  999;
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	position: absolute;
	top: 0;
	left: 0;
}

.lastpart-title{
	z-index: 9;
	color: #edb42a;
	font-family: 'Satisfy', cursive;
	font-weight: 500;
	font-size: 3.5rem;
	position: absolute;
	top:  20px;
	line-height: 1.1;
	text-align: center;
	text-shadow: 3px 7px 6px #E79882;
}

.lastpart-title .name {
	font-size:  2.8rem;
}

.pic-container {
	margin-top: 3em;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.pic-container .img-div {
	width:  12em;
	height:  13em;
	border-radius:  50%;
	opacity:  0;
	border: 3px solid #FBCA67;
	box-shadow: 3px 4px 10px 2px #D06A54;
}	

.pic-container .img-div:nth-child(1) {
	grid-area: 1/1/2/2;
	background: linear-gradient(0deg, rgba(251, 202, 103, 0.17), rgba(251, 202, 103, 0.17)), url('./assets/img/her/pic1.jpg');
	background-size: cover;
	background-position:  center;
}

.pic-container .img-div:nth-child(2) {
	grid-area: 3/1/4/2;
	background: linear-gradient(0deg, rgba(251, 202, 103, 0.17), rgba(251, 202, 103, 0.17)), url('./assets/img/her/pic2.jpg');
	background-size: cover;
	background-position:  center;
}

.pic-container .img-div:nth-child(3) {
	grid-area: 2/2/3/3;
	background: linear-gradient(0deg, rgba(251, 202, 103, 0.17), rgba(251, 202, 103, 0.17)), url('./assets/img/her/pic4.jpg');
	background-size: cover;
	background-position:  center;
}

.pic-container .img-div:nth-child(4) {
	width:  20em;
	height:  25em;
	border-radius:  70px;
	grid-area: 1/3/4/4;
	background: linear-gradient(0deg, rgba(251, 202, 103, 0.17), rgba(251, 202, 103, 0.17)), url('./assets/img/her/pic3.jpg');
	background-size: cover;
	background-position:  center;
}

.pic-container .img-div:nth-child(5) {
	grid-area: 2/4/3/5;
	background: linear-gradient(0deg, rgba(251, 202, 103, 0.17), rgba(251, 202, 103, 0.17)), url('./assets/img/her/pic5.jpg');
	background-size: cover;
	background-position:  center;
}

.pic-container .img-div:nth-child(6) {
	grid-area: 1/5/2/6;
	background: linear-gradient(0deg, rgba(251, 202, 103, 0.17), rgba(251, 202, 103, 0.17)), url('./assets/img/her/pic6.jpg');
	background-size: cover;
	background-position:  center;
}

.pic-container .img-div:nth-child(7) {
	grid-area: 3/5/4/6;
	background: linear-gradient(0deg, rgba(251, 202, 103, 0.17), rgba(251, 202, 103, 0.17)), url('./assets/img/her/pic7.jpg');
	background-size: cover;
	background-position:  center;
}

.small-envelope img {
	opacity: 0;
	width: 4em;
	height: 3em;
	transform: rotateX(60deg) skewX(30deg);
	cursor: url('./assets/img/hand.png'), auto;
	position: absolute;
	left: 300px;
	bottom: 10px;
	border: #ba405c 5px solid;
}
